@model ShoppingCartViewModel

    <a class="nav-item nav-link active">
        <span style="color:red;">@Model.ShoppingCart.ShoppingCartItems.Count</span>
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>

